@font-face {
    font-family: fecha;
    src: url(../font/libel-suit-rg.ttf);
}
@font-face {
    font-family: oile;
    src: url(../font/LibreFranklin-Regular_0.ttf);
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #fff;
    box-shadow: 0 1px 1px #fff inset, 0 0 8px #fff;
    outline: 0 none;
}
form{
  width: 100%important;
}
.owl-stage-outer{
  min-height: 360px!important;
}

.g-recaptcha iframe {
         max-width: 100%;
         transform:scale(0.75);
         -webkit-transform:scale(0.75);
         transform-origin: left center;
         -webkit-transform-origin: left center;
       }
       #rc-imageselect {
         transform:scale(0.75);
         -webkit-transform:scale(0.75);
         transform-origin:0 0;
         -webkit-transform-origin:0 0;
       }
.paginador{
  font-family: fecha;
  float: right;
  padding-right: 15px;
  padding-bottom: 50px;
}
.page{
  color: black;
  font-size: 30px;
  text-decoration: none;
  margin-left: 10px;
  border: 1px solid #4065af;
  padding-left: 15px;
  padding-right: 15px;
}
.page:hover{
  color: white;
  background-color: #4065af;
  text-decoration: none;

}
.active-page{
  color: white!important;
  background-color: #4065af;
  font-size: 30px;
  text-decoration: none;
  margin-left: 10px;
  border: 1px solid #4065af;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid{
  padding: 0;
  margin: 0 auto;
  max-width: 1500px;
}
.categorias {
  font-family: fecha;
  width: 100%;
  padding: 0!important;
  border-bottom: 1px solid #eee;
}
.categorias button{
  border: none;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.categorias button:focus{
  outline: none!important;
}
.btn-1{
    background-color: white;
    border-left: 1px solid #eee!important;
}
.btn-1:hover{
  background-color: #4065af;
  color: white;
}
.btn-2{
    background-color: white;
    border-left: 1px solid #eee!important;
}
.btn-2:hover{
  background-color: #bd1c23;
  color: white;
}
.btn-3{
    background-color: white;
    border-left: 1px solid #eee!important;
}
.btn-3:hover{
  background-color: black;
  color: white;
}
.btn-4{
    background-color: white;
    border-left: 1px solid #eee!important;
    border-right: 1px solid #eee!important;
}
.btn-4:hover{
  background-color: black;
  color: white;
}
#buscado{
  border: none;
  border-bottom: 1px solid #0000005e;
  border-radius: 0px!important;
}
#buscado:focus {
  outline: none!important;
}
.btn-buscar{
  border-radius: 5px;
  border-color: #4065af;
  background-color: white;
  color: black;
  padding: 2px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}
.btn-buscar:hover{
  background-color: #4065af;
  color: white;
}
select:focus {
    border-color: #0000005e!important;
    box-shadow: 0 1px 1px #fff inset, 0 0 8px #fff!important;
    outline: 0 none!important;
}
select:hover {
  outline: none!important;
}
select::selection{
  background: none!important;
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
h1{
  font-family: fecha;
  font-weight: 500;
  font-size: 35px;
}

body {
  margin: 0;
  font-family: oile;
  overflow-x: hidden;

}
.volver{
  cursor: pointer;
  margin-top: 30px;

}
.tarjeta-evento2{
padding-bottom: 20px!important;
}
.padding{
  padding-top: 50px;
}

.top-container {
  background-color: #f1f1f1;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  overflow:hidden;
  padding-bottom: 600px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
.top-container img{
  width: 100%;
  margin-top: -10%!important;
}
.navbar{
  width: 100%;
  margin-left: 120px;
}
.navbar-nav .disabled{
  color: #415ea8!important;
  font-weight: bold;
}
.navbar-nav a:hover{
  color: #415ea8!important;
}
.navbar-nav li{
  margin-top: 10px;
}
.logo{
  margin-left: -30px!important;
  width: 200px;
}
#navbarNav{
  margin-left: 150px;
}
.header {

  background-color: #fff;
  height: 100px;
  border-bottom:1px solid #eee;
  z-index: 100;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
#slider { overflow: hidden; }
#slider figure img { width: 20%; float: left; }
#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
#slider-publi { overflow: hidden; }
#slider-publi figure img { width: 20%;height: 400px!important; float: left; }
#slider-publi figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}

.content {
  padding: 0px;

}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 120px;
}

.footer .info{
  margin-top: 50px;
}

.footer{
  border-top: 1px solid #eee;
  margin-bottom: 80px!important;

}

.logos img{
  width: 200px;
  height: 100px;
}
.redes{
  background-color: #767676;
  font-size: 26px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
  margin-top: 40px;
}
.redes:hover{
  background-color: #333333;
}
.redes a {
  color: #fff;
}
.redes i{
  margin-top: 12px;
}


.footer{
  color: #888;
  font-size: 12px;

}
.footer h4{
  color: #333;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.info-footer{
  margin-left: 15px;
}
.info-footer p{
  margin-top: -20px;
}

/* tarjetas del inicio */

.owl-carousel {
  position: relative;
  margin-top: 10px;
}
.owl-nav {
  position: absolute;
  top: -60px;
  left: 10px;
}
.uk-card-primary {
  border-radius: 8px;
}
h3 {
  margin-top: 10px
}
.uk-card > :last-child {
  margin-top:0;
  margin-bottom: 10px
}

.owl-next {
  background: #3286f0;
}
.owl-theme .owl-nav [class*='owl-'] {
  background: #383838;
}
.owl-dots {
  margin-top: 30px;
}
.uk-card-title {
  padding-bottom: 20px
}
.wl-dots{
  display: none!important;
}
/*inicio*/

.frase em{
  color: #888;
  font-size: 1.375rem;
}
.frase{
  margin-top: 30px;
  display: block;
}
.frase-2 em{
  color: #888;
  font-size: 1.375rem;
}
.frase-2{
  margin-top: 30px;
  display: none;
}

.texto-inicio{
  font-size: 14px;
}



.uk-section{
  padding-top: 0px;
}

.informacion a:hover{
  text-decoration: none;
}

/* tarjeta */
.titulo-tarjeta{
  font-size: 14px;
  font-weight:700!important;
  margin-top: 7px;
  line-height:17px;
  padding-right: 0!important;

}
.fecha-tarjeta{
  font-size: 30px;
  font-family: fecha;
  font-weight: 500;
  letter-spacing:0px;
  margin-top: 0px;
  margin-left: -10px;
  text-align: right;
}
.owl-stage{
  padding-left: 2px!important;

}

.app{
  position: absolute;
  z-index: 10!important;
}
.app p{
      padding: 10px;
      
      cursor: pointer;
      color: white;
      font-size: 15px;
      margin-top: 10px;
      margin-left: 10px;
      background-color: black!important;   
      border-radius: 25px;
    }

.fecha-tarjeta span{
  color: #888;
}

.fecha-tarjeta-evento{
  font-size: 30px;
  font-family: fecha;
  font-weight: 500;
  letter-spacing:0px;
  margin-top: 0px;
  margin-left: -20px;
  text-align: right;
}
.fecha-tarjeta-evento span{
  color: #888;
}

.informacion-evento{
  background-color: #ececec ;

  font-size: 15px;
  padding-bottom: 50px;

}
.informacion-evento h2{
  margin-top: 10px;
  font-weight: 500;
  font-family: fecha;
  font-size: 33px;
}
.entrada{
  font-weight: bolder;
  color: #fff;
  background-color: #333;
  padding: 8px;
}

.add{
  height: 80px;
  margin-top: 20px;
}
.map{
  padding-bottom: 40px;
  border-bottom:2px solid #dedede;

}
.info-contacto p{
  margin-top: -20px;
}
.info-contacto{
  font-size: 14px
}
.info-contacto h4{
  font-size: 14px
}
input, textarea{
  width: 90%;
  border: none;
  border-bottom: 1px solid #888;
  font-weight: bolder;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
.button{
  margin-top: 20px;
   border: 1px solid #888;
   width: 150px;
}
.mapboxgl-ctrl-logo{
      display: none!important;
    }
.mapboxgl-ctrl-bottom-right{
      display: none!important;
    }
 #map { position:absolute; top:0; bottom:0; width:100%;}

 .redes-ch-f{
  
  border: 1px solid #888;
  color: #888;
  border-radius: 50%;
  padding: 2px 7px;

 }
 .redes-ch-i{
  
  border: 1px solid #888;
  color: #888;
  border-radius: 50%;
  padding: 2px 5px;

 }
 .redes-ch-t{
  
  border: 1px solid #888;
  color: #888;
  border-radius: 50%;
  padding: 2px 4px;

 }
 .redes-ch-f:hover,.redes-ch-i:hover,.redes-ch-t:hover{
  color: #111;
  border: 1px solid #111;
 }

.logo-resp{
  display: none!important;
}
.logo-des{
  display: block!important;
  margin-left:50px;
}

.item figure{
   width:260px; /*container-width*/
   height: 260px;
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
   background-image: url(../img/voy-background.png);
   background-position: center;
   background-size: contain;
 display: flex;
  align-items: center;
}
.item figure img{
    vertical-align: middle;
   display:block; /*remove inline-block spaces*/
   margin:0;
   width:100%; /*make image streatch*/
}

.fecha-buscado span{
 color: red;
 font-size: 20px;
 float: right;
 position: relative;
 margin-top: -28px;
 padding-right: 5px; 
 padding-left: 5px; 
}
select{
  margin-top: 0px;
  height: 30px!important;
  border: 1px solid #0000005e;
  font-size: 15px!important;
  padding-top: 0!important;
  padding-bottom: 0px!important;

}

 @media (max-width: 575.98px) {
body{
  overflow-x: hidden!important;
}
.container-fluid{
  width: auto!important;
}
.content {
  padding: 28px;

}

.navbar{
  background-color: white!important;
  z-index: 999!important;
  width: 100%;
  margin-left: 0px;
}
.navbar-nav{
    margin-left: -80px;
}
.navbar-toggler{
  border:none!important;
  margin-left: 80px!important;
}
.header {

  background-color: #fff;
  height: 100px;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 100;
}

.logo{
  margin-left: -30px!important;
  width: 200px!important
}
.logo-resp{
  display: none!important;
}
.logo-des{
  display: none!important;
  margin-left:50px;
}

#slider { overflow: hidden; }
#slider figure img { width: 20%; float: left; }
#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
  .frase{
    display: none;
  }
  .frase-2{
    display: block;
    margin: auto!important;
  }
  .tarjeta-evento-2{
    padding-bottom: 20px;
  }
  .fecha-tarjeta-evento{
    margin-left:-35px;
  }
  .ver-mas{
    margin-top: -30px;
    position: absolute;
  }
  .top-container{
    padding-bottom: 300px;
  }
.footer{
  margin-left: 100px;
  padding-bottom: 50px!important;

}

.footer .info{
  padding: 0;
  width: 100%;
  border: none!important;
}

.footer{
  border: none!important;
}
.info-footer{
  margin: auto!important;
}

.imagen-evento{
  padding: 0!important;
}
.mapa-mobile{
  margin-right: 0px!important;
  margin: auto;margin-left: -15px;
}

.publicidad-slider{
  padding: 0!important;
}
.footer{
  border-top: 1px solid #eee;
  margin-bottom: 0px!important;

}
.fecha-buscado{
  margin-left: 0px;
}
.fecha-buscado span{
 color: red;
 font-size: 15px;
 float: right;
 position: relative;
 margin-top: -25px;
 padding-right: 5px; 
 padding-left: 5px; 
}
.btn-buscar{
  margin: auto!important
}
.categorias{
  border: none;
  margin-top: -20px;
}
.categorias button{
     border: 1px solid #eee!important;
     margin-top: 10px;
     margin-right: 10px!important;
}

 }





@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  
 }

